<template>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
            <div class="card text-center">
                <div class="card-header">
                Country wise Order
                </div>
                <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">Country ID</th>
                                <th scope="col">Country</th>
                                <th scope="col">Order Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="order in country_orders" :key="order.user_id">
                                    <th scope="row">{{ order.user_id }}</th>
                                    <td>{{ order.country }}</td>
                                    <td>{{ order.amount }}</td>
                                </tr>
                            </tbody>
                        </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
	props : ['country_orders'],
    data(){
        return {
         
            url : base_url
        }
    },
}
</script>