<template>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
            <div class="card text-center">
                <div class="card-header">
                Order
                </div>
                <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Product Id" v-model="keyword" @keyup="getOrder()">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">User</th>
                                <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="order in orders" :key="order.id">
                                    <th scope="row">{{ order.id }}</th>
                                    <td>{{ order.user.country }}</td>
                                    <td>{{ order.product.price }}</td>
                                </tr>
                            </tbody>
                        </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'order',
    data(){
        return {
            orders : [],
            keyword : '',
            url : base_url
        }
    },

    mounted(){
        this.getOrder()
    },
    methods : {
        getOrder(){
            axios.get(this.url+'get-order?keyword='+this.keyword)
                .then(response => {
                    this.orders = response.data
                    console.log(this.orders)
                })
                .catch(error => {
                    console.log(error.data)
                })
        }
    },
}
</script>